.container {
  min-width: 320px;
  width: 100%;
  padding-left: 19px;
  padding-right: 19px;
  margin: 0 auto;

  @include mobile {
    width: 320px;
  }

  @include tablet {
    width: 768px;
    padding-left: 41px;
    padding-right: 37px;
  }

  @include desktop {
    width: 1290px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
