<section class="section-cases">
  <div class="container">
    <p class="section-cases__top-text">This is what we do</p>
    <h3 class="section-cases__title">Business Cases</h3>
    <p class="section-cases__bottom-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="section-cases__list list">
      <li class="section-cases__item">
        <picture>
          <source
            srcset="
              ./images/cases-desktop-01.jpg    1x,
              ./images/cases-desktop-01@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1360px)"
            width="320"
            height="213"
          />

          <source
            srcset="
              ./images/cases-tablet-01.jpg    1x,
              ./images/cases-tablet-01@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 768px)"
            width="172"
            height="115"
          />

          <source
            srcset="
              ./images/cases-mobile-01.jpg    1x,
              ./images/cases-mobile-01@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 320px)"
            width="264"
            height="176"
          />

          <img
            class="section-cases__img"
            src="./images/cases-mobile-01.jpg"
            alt="our team"
            width="264"
            height="176"
          />
        </picture>
      </li>
      <li class="section-cases__item">
        <picture>
          <source
            srcset="
              ./images/cases-desktop-02.jpg    1x,
              ./images/cases-desktop-02@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1360px)"
            width="320"
            height="213"
          />

          <source
            srcset="
              ./images/cases-tablet-02.jpg    1x,
              ./images/cases-tablet-02@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 768px)"
            width="172"
            height="115"
          />

          <source
            srcset="
              ./images/cases-mobile-02.jpg    1x,
              ./images/cases-mobile-02@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 320px)"
            width="264"
            height="176"
          />

          <img
            class="section-cases__img"
            src="./images/cases-mobile-02.jpg"
            alt="notebook"
            width="264"
            height="176"
          />
        </picture>
      </li>
      <li class="section-cases__item">
        <picture>
          <source
            srcset="
              ./images/cases-desktop-03.jpg    1x,
              ./images/cases-desktop-03@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1360px)"
            width="320"
            height="213"
          />

          <source
            srcset="
              ./images/cases-tablet-03.jpg    1x,
              ./images/cases-tablet-03@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 768px)"
            width="172"
            height="115"
          />

          <source
            srcset="
              ./images/cases-mobile-03.jpg    1x,
              ./images/cases-mobile-03@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 320px)"
            width="264"
            height="176"
          />

          <img
            class="section-cases__img"
            src="./images/cases-mobile-03.jpg"
            alt="write in notebook"
            width="264"
            height="176"
          />
        </picture>
      </li>
      <li class="section-cases__item">
        <picture>
          <source
            srcset="
              ./images/cases-desktop-04.jpg    1x,
              ./images/cases-desktop-04@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1360px)"
            width="320"
            height="213"
          />

          <source
            srcset="
              ./images/cases-tablet-04.jpg    1x,
              ./images/cases-tablet-04@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 768px)"
            width="172"
            height="115"
          />

          <source
            srcset="
              ./images/cases-mobile-04.jpg    1x,
              ./images/cases-mobile-04@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 320px)"
            width="264"
            height="176"
          />

          <img
            class="section-cases__img"
            src="./images/cases-mobile-04.jpg"
            alt="reflection of houses"
            width="264"
            height="176"
          />
        </picture>
      </li>
      <li class="section-cases__item">
        <picture>
          <source
            srcset="
              ./images/cases-desktop-05.jpg    1x,
              ./images/cases-desktop-05@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1360px)"
            width="320"
            height="213"
          />

          <source
            srcset="
              ./images/cases-tablet-05.jpg    1x,
              ./images/cases-tablet-05@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 768px)"
            width="172"
            height="115"
          />

          <source
            srcset="
              ./images/cases-mobile-05.jpg    1x,
              ./images/cases-mobile-05@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 320px)"
            width="264"
            height="176"
          />

          <img
            class="section-cases__img"
            src="./images/cases-mobile-05.jpg"
            alt="handshake"
            width="264"
            height="176"
          />
        </picture>
      </li>
      <li class="section-cases__item">
        <picture>
          <source
            srcset="
              ./images/cases-desktop-06.jpg    1x,
              ./images/cases-desktop-06@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1360px)"
            width="320"
            height="213"
          />

          <source
            srcset="
              ./images/cases-tablet-06.jpg    1x,
              ./images/cases-tablet-06@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 768px)"
            width="172"
            height="115"
          />

          <source
            srcset="
              ./images/cases-mobile-06.jpg    1x,
              ./images/cases-mobile-06@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 320px)"
            width="264"
            height="176"
          />

          <img
            class="section-cases__img"
            src="./images/cases-mobile-06.jpg"
            alt="team member is smiling"
            width="264"
            height="176"
          />
        </picture>
      </li>
      <li class="section-cases__item">
        <picture>
          <source
            srcset="
              ./images/cases-desktop-07.jpg    1x,
              ./images/cases-desktop-07@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1360px)"
            width="320"
            height="213"
          />

          <source
            srcset="
              ./images/cases-tablet-07.jpg    1x,
              ./images/cases-tablet-07@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 768px)"
            width="172"
            height="115"
          />

          <source
            srcset="
              ./images/cases-mobile-07.jpg    1x,
              ./images/cases-mobile-07@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 320px)"
            width="264"
            height="176"
          />

          <img
            class="section-cases__img"
            src="./images/cases-mobile-07.jpg"
            alt="hand team"
            width="264"
            height="176"
          />
        </picture>
      </li>
      <li class="section-cases__item">
        <picture>
          <source
            srcset="
              ./images/cases-desktop-08.jpg    1x,
              ./images/cases-desktop-08@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1360px)"
            width="320"
            height="213"
          />

          <source
            srcset="
              ./images/cases-tablet-08.jpg    1x,
              ./images/cases-tablet-08@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 768px)"
            width="172"
            height="115"
          />

          <source
            srcset="
              ./images/cases-mobile-08.jpg    1x,
              ./images/cases-mobile-08@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 320px)"
            width="264"
            height="176"
          />

          <img
            class="section-cases__img"
            src="./images/cases-mobile-08.jpg"
            alt="woman and man communicate"
            width="264"
            height="176"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
