<section class="features">
  <div class="container">
    <h2 class="visually-hidden">Features</h2>
    <ul class="features__list list">
      <li class="features__item">
        <span class="features__img">
          <svg class="features__icon" width="35" height="35">
            <use href="./images/icons.svg#icon-university"></use>
          </svg>
        </span>

        <h3 class="features__title-text">Investmant Banking</h3>
        <p class="features__text-bottom">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
      <li class="features__item">
        <span class="features__img">
          <svg class="features__icon" width="35" height="35">
            <use href="./images/icons.svg#icon-book-reader"></use>
          </svg>
        </span>

        <h3 class="features__title-text">Portfolio Manager</h3>
        <p class="features__text-bottom">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
      <li class="features__item">
        <span class="features__img">
          <svg class="features__icon" width="35" height="35">
            <use href="./images/icons.svg#icon-pencil"></use>
          </svg>
        </span>
        <h3 class="features__title-text">Tax & Custudio</h3>
        <p class="features__text-bottom">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
    </ul>
  </div>
</section>
