<section class="solutions">
  <div class="container">
    <div class="solutions__img">
      <picture>
        <source
          srcset="./images/team-desktop.jpg 1x, ./images/team-desktop2x.jpg 2x"
          type="image/jpg"
          media="(min-width: 1360px)"
          width="680"
          height="460"
        />

        <source
          srcset="./images/team-tablet.jpg 1x, ./images/team-tablet2x.jpg 2x"
          type="image/jpg"
          media="(min-width: 768px)"
          width="384"
          height="564"
        />

        <source
          srcset="./images/team-mobile.jpg 1x, ./images/team-mobile2x.jpg 2x"
          type="image/jpg"
          media="(min-width: 425px)"
          width="425"
          height="220"
        />

        <source
          srcset="./images/team-mobile.jpg 1x, ./images/team-mobile2x.jpg 2x"
          type="image/jpg"
          media="(min-width: 320px)"
          width="320"
          height="220"
        />

        <img
          src="./images/team-mobile.jpg"
          alt="team-photo"
          width="320"
          height="220"
        />
      </picture>
    </div>

    <div class="thumb">
      <p class="solutions__pretitle">What you are looking for</p>
      <h2 class="solutions__title">We provide bespoke solutions</h2>
      <p class="solutions__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>

      <button class="solutions_button button" type="button">Read More</button>
    </div>
  </div>
</section>
