<section class="team-section">
  <div class="container">
    <p class="team-section__top-text">Who we are</p>
    <h2 class="team-section__title">Our Professional Team</h2>
    <p class="team-section__bottom-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>

    <ul class="card__list list">
      <li class="card__item">
        <div class="card__thumb">
          <picture>
            <source
              srcset="
                ./images/team-01-desktop.jpg    1x,
                ./images/team-01-desktop@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 1360px)"
              width="420"
              height="280"
            />

            <source
              srcset="
                ./images/team-01-tablet.jpg    1x,
                ./images/team-01-tablet@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 768px)"
              width="223"
              height="148"
            />

            <source
              srcset="
                ./images/team-01-mobile.jpg    1x,
                ./images/team-01-mobile@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 320px)"
              width="280"
              height="186"
            />

            <img
              src="./images/team-01-mobile.jpg"
              alt="John"
              width="280"
              height="186"
            />
          </picture>
          <div class="card__links">
            <ul class="socpublic-list team-section__socpublic-list list">
              <li class="team-section__socpublic-item">
                <a
                  href="https://www.facebook.com"
                  class="socpublic__link link"
                  aria-label="Facebook"
                >
                  <svg class="socpublic__icon" width="35" height="35">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="team-section__socpublic-item">
                <a
                  href="https://www.twitter.com"
                  class="socpublic__link link"
                  aria-label="Twitter"
                >
                  <svg class="socpublic__icon" width="35" height="35">
                    <use href="./images/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>

              <li class="team-section__socpublic-item">
                <a
                  href="https://www.youtube.com"
                  class="socpublic__link link"
                  aria-label="Youtube"
                >
                  <svg class="socpublic__icon" width="40" height="35">
                    <use href="./images/icons.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="team-section__socpublic-item">
                <a
                  href="https://www.linkedin.com"
                  class="socpublic__link link"
                  aria-label="Linkedin"
                >
                  <svg class="socpublic__icon" width="31" height="35">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <h3 class="card__title">John Doe</h3>
        <p class="card__bottom-text">President</p>
      </li>
      <li class="card__item">
        <div class="card__thumb">
          <picture>
            <source
              srcset="
                ./images/team-02-desktop.jpeg    1x,
                ./images/team-02-desktop@2x.jpeg 2x
              "
              type="image/jpeg"
              media="(min-width: 1360px)"
              width="420"
              height="280"
            />

            <source
              srcset="
                ./images/team-02-tablet.jpg    1x,
                ./images/team-02-tablet@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 768px)"
              width="223"
              height="148"
            />

            <source
              srcset="
                ./images/team-02-mobile.jpg    1x,
                ./images/team-02-mobile@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 320px)"
              width="280"
              height="186"
            />

            <img
              src="./images/team-02-mobile.jpg"
              alt="Jane"
              width="280"
              height="186"
            />
          </picture>
          <div class="card__links">
            <ul class="socpublic-list team-section__socpublic-list list">
              <li class="team-section__socpublic-item">
                <a
                  href="https://www.facebook.com"
                  class="socpublic__link link"
                  aria-label="Facebook"
                >
                  <svg class="socpublic__icon" width="35" height="35">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="team-section__socpublic-item">
                <a
                  href="https://www.twitter.com"
                  class="socpublic__link link"
                  aria-label="Twitter"
                >
                  <svg class="socpublic__icon" width="35" height="35">
                    <use href="./images/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>

              <li class="team-section__socpublic-item">
                <a
                  href="https://www.youtube.com"
                  class="socpublic__link link"
                  aria-label="Youtube"
                >
                  <svg class="socpublic__icon" width="40" height="35">
                    <use href="./images/icons.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="team-section__socpublic-item">
                <a
                  href="https://www.linkedin.com"
                  class="socpublic__link link"
                  aria-label="Linkedin"
                >
                  <svg class="socpublic__icon" width="31" height="35">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <h3 class="card__title">Jane Doe</h3>
        <p class="card__bottom-text">Vice President</p>
      </li>
      <li class="card__item">
        <div class="card__thumb">
          <picture>
            <source
              srcset="
                ./images/team-03-desktop.jpg    1x,
                ./images/team-03-desktop@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 1360px)"
              width="420"
              height="280"
            />

            <source
              srcset="
                ./images/team-03-tablet.jpg    1x,
                ./images/team-03-tablet@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 768px)"
              width="223"
              height="148"
            />

            <source
              srcset="
                ./images/team-03-mobile.jpg    1x,
                ./images/team-03-mobile@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 320px)"
              width="280"
              height="186"
            />

            <img
              src="./images/team-03-mobile.jpg"
              alt="Steve"
              width="280"
              height="186"
            />
          </picture>
          <div class="card__links">
            <ul class="socpublic-list team-section__socpublic-list list">
              <li class="team-section__socpublic-item">
                <a
                  href="https://www.facebook.com"
                  class="socpublic__link link"
                  aria-label="Facebook"
                >
                  <svg class="socpublic__icon" width="35" height="35">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="team-section__socpublic-item">
                <a
                  href="https://www.twitter.com"
                  class="socpublic__link link"
                  aria-label="Twitter"
                >
                  <svg class="socpublic__icon" width="35" height="35">
                    <use href="./images/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>

              <li class="team-section__socpublic-item">
                <a
                  href="https://www.youtube.com"
                  class="socpublic__link link"
                  aria-label="Youtube"
                >
                  <svg class="socpublic__icon" width="40" height="35">
                    <use href="./images/icons.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="team-section__socpublic-item">
                <a
                  href="https://www.linkedin.com"
                  class="socpublic__link link"
                  aria-label="Linkedin"
                >
                  <svg class="socpublic__icon" width="31" height="35">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <h3 class="card__title">Steve Smith</h3>
        <p class="card__bottom-text">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
