.header {
  position: absolute;
  width: 100%;
  padding-top: 21px;
  padding-left: 28px;
}

.nav {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

.logo__link {
  display: flex;
  margin-bottom: 10px;

  font-size: 32px;
  line-height: 1.32;

  color: var(--secondary-text-color);
}

.logo__icon {
  fill: var(--accent-color);
  margin-right: 6px;
}

.logo__link--green {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
}

.nav-list__item + .nav-list__item {
  margin-left: 13px;
}

.nav-list__link {
  color: var(--secondary-text-color);
}
