.hero {
  min-width: 320px;
  height: 533px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 144px;
  padding-bottom: 95px;

  background-color: #000000;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('../images/hero-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url('../images/hero-mobile2x.png');
  }

  @media screen and (min-width: 768px) {
    height: 1024px;
    padding-top: 407px;
    padding-bottom: 412px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url('../images/hero-tablet.png');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)
        ),
        url('../images/hero-tablet2x.png');
    }
  }

  @media screen and (min-width: 1360px) {
    height: 768px;
    padding-top: 279px;
    padding-bottom: 284px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url('../images/hero-desktop.png');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)
        ),
        url('../images/hero-desktop2x.png');
    }
  }

  &__title {
    margin-bottom: 16px;

    font-weight: 300;
    font-size: 52px;
    line-height: 1.27;
    text-align: center;

    color: var(--hero-text-color);

    @include tablet {
      margin-bottom: 25px;

      font-size: 55px;
      line-height: 1.2;
    }
  }

  &__bottom-text {
    margin-bottom: 27px;

    font-weight: 400;
    font-size: 22px;
    line-height: 1.67;

    text-align: center;
    color: var(--hero-text-color);

    @include tablet {
      margin-bottom: 29px;
    }
  }

  &__icon {
    fill: currentColor;
    margin-right: 5px;
  }
}

.hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 156px;
  height: 45px;
  padding-left: 26px;
  padding-right: 30px;
  border: transparent;

  @include tablet {
    width: 165px;
    height: 48px;
  }
}
